---
---

@import "{{ site.theme }}";

#logo {
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#google-play-image {

  width: 120px;
  margin-bottom: 16px;

}

#app-store-image {

  width: 120px;
  margin-bottom: 16px;
  
}


body {
  background-color: #333333;
  color:#AAAAAA;
}

h1, h2, h3, h4, h5, h6 {
  color:#FFFFFF;
}

h2 {
  color:#FFFFFF;
}

h3, h4, h5, h6 {
  color:#CCCCCC;
}

a {
  color:#FF9800;
}

a:hover, a:focus {
  color:#C57500;
}

p > a:hover, p > a:focus {
   font-weight: normal;
}

a:hover small {
  color:#C57500;
}
