---
---

@import "{{ site.theme }}";

#logo {
  margin-bottom: 16px;
}

#google-play-image {

  width: 192px;
  margin-left: -12px;
  margin-bottom: 32px;

}


body {
  background-color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  color:#FFFFFF;
}

h2 {
  color:#AAAAAA;
}

h3, h4, h5, h6 {
  color:#888888;
}

a {
  color:#C57500;

}
