---
---

@import "{{ site.theme }}";

#logo {
  margin-bottom: 16px;
}

#google-play-image {

  width: 192px;
  margin-left: -12px;
  margin-bottom: 32px;

}


body {
  background-color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  color:#FFFFFF;
}
